<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<p class="text-muted"> &copy 2022 Himalyan Crystal Grit </p>
			</div>
			<div class="col-md-6 text-md-center">
				<span  class="px-2">+91-9571285536</span>
			</div>
			<div class="col-md-3 text-md-right text-muted">
				<span  class="px-2">himalyacrystalgrit@gmail.com</span>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>
</body>
</html>
